@layer components {

    .card {
        background-color: #1E1F29;
        max-width: 360px;
        max-height: 482px;
    }

    .card img {
        max-width: 360px;
        max-height: 194px;
    }

    .card h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 4px;
    }

    .card p {
        color: #AFB2BF;
        font-size: 18px;
        margin-bottom: 18px;
    }

    .card__content {
        margin: 24px;
    }
    
}